<div class="d-flex">
  <div class="col-1 gradient-container d-flex flex-column events-none position-relative">
    {% comment %} <img
      alt=""
      aria-hidden="true"
      class="home-campaign-lines-hero position-relative"
      width="437"
      height="637"
      src="https://github.githubassets.com/images/modules/site/home-campaign/lines-hero.svg"
    /> {% endcomment %}

    <div class="mx-auto my-3 home-campaign-glowing-icon">
      <div class="position-relative d-inline-block z-1">
        <svg
          aria-hidden="true"
          height="24"
          viewBox="0 0 24 24"
          version="1.1"
          width="24"
          data-view-component="true"
          class="octicon octicon-code"
        >
          <path
            d="M15.22 4.97a.75.75 0 0 1 1.06 0l6.5 6.5a.75.75 0 0 1 0 1.06l-6.5 6.5a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L21.19 12l-5.97-5.97a.75.75 0 0 1 0-1.06Zm-6.44 0a.75.75 0 0 1 0 1.06L2.81 12l5.97 5.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.5-6.5a.75.75 0 0 1 0-1.06l6.5-6.5a.75.75 0 0 1 1.06 0Z"
          ></path>
        </svg>
        <span
          class="position-absolute left-0 top-0 height-full width-full home-campaign-glowing-icon-glow z-n1"
          style="
            background-color: var(--mktg-accent-primary);
            filter: blur(17px);
          "
        ></span>
      </div>
    </div>

    <div
      style="
        background: linear-gradient(
          #d2a8ff,
          #a371f7 10%,
          #196c2e 70%,
          #2ea043 80%,
          #56d364
        );
      "
      class="home-campaign-git-line height-full rounded mx-auto"
    ></div>
  </div>

  <div class="col-11 text-left pt-12 mt-12 pl-2 pl-sm-0">
    <div class="position-relative top-md-8 z-1">
      <a
        class="eyebrow-banner d-inline-block no-underline color-fg-on-emphasis f5-mktg mb-4 border position-relative z-1 arrow-target-mktg text-left"
        data-analytics-event='{"category":"Eyebrow Banner","action":"click","label":"ref_cta:Introducing GitHub Copilot X;ref_loc:hero;"}'
        href="/features/preview/copilot-x"
      >
        <div class="d-flex flex-items-center">
          <picture>
            <source
              srcset="
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg          44w,
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg?width=35 35w,
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg?width=26 26w,
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg?width=22 22w,
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg?width=17 17w,
                https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg?width=8   8w
              "
              sizes="44px"
              type="image/svg"
            />
            <img
              class="eyebrow-banner-icon d-block width-auto flex-grow-0 flex-shrink-0 mr-3"
              width="44"
              height="44"
              loading="lazy"
              decoding="async"
              alt=""
              aria-hidden="true"
              src="https://github.githubassets.com/images/modules/site/eyebrow-banner-icon-copilot-x.svg"
            />
          </picture>
          <div class="pr-3 mr-md-1 pl-md-1">
            <div class="text-semibold lh-condensed">
              Introducing GitHub Copilot X
            </div>
            <div
              class="color-fg-subtle lh-condensed"
              data-test-selector="subtitle"
            >
              Your AI pair programmer is leveling up
            </div>
          </div>

          <div class="ml-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="octicon arrow-symbol-mktg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
            >
              <path
                fill="currentColor"
                d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"
              ></path>
              <path
                class="octicon-chevrow-stem"
                stroke="currentColor"
                d="M1.75 8H11"
                stroke-width="1.5"
                stroke-linecap="round"
              ></path>
            </svg>
          </div>
        </div>
      </a>
    </div>

    <h1
      class="h0-mktg mt-sm-6 mt-md-11 mt-lg-9 mb-2 mb-sm-4 position-relative z-2"
    >
      Let’s build from&nbsp;here
    </h1>

    <p
      class="f1-mktg col-11 col-lg-10 text-normal color-fg-muted mr-lg-n4 mb-3 mb-md-4 mb-md-7 position-relative z-1"
    >
      Harnessed for productivity. Designed for collaboration. Celebrated for
      built-in security. Welcome to the platform developers&nbsp;love.
    </p>

    <div class="d-flex flex-column flex-md-row">
      <a
        class="btn-mktg"
        data-analytics-event='{"category":"Explore all features","action":"click to Explore all features","label":"ref_cta:Explore all features;"}'
        href="/features?ref_cta=Explore+all+features&amp;ref_loc=Home+campaign+hero&amp;ref_page=%2F"
      >
        Explore all features

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="octicon arrow-symbol-mktg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            fill="currentColor"
            d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"
          ></path>
          <path
            class="octicon-chevrow-stem"
            stroke="currentColor"
            d="M1.75 8H11"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </svg>
      </a>

      <div class="border-top border-md-left mx-md-3 mb-3 mb-md-0"></div>

      <a
        class="btn-mktg home-campaign-enterprise btn-muted-mktg"
        data-analytics-event='{"category":"Start a free enterprise trial","action":"click to Start a free enterprise trial","label":"ref_cta:Start a free enterprise trial;"}'
        href="/organizations/enterprise_plan?ref_cta=Start+a+free+enterprise+trial&amp;ref_loc=Home+campaign+hero&amp;ref_page=%2F"
        data-test-selector="start-trial-button"
      >
        Start a free enterprise trial

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="octicon arrow-symbol-mktg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            fill="currentColor"
            d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"
          ></path>
          <path
            class="octicon-chevrow-stem"
            stroke="currentColor"
            d="M1.75 8H11"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </svg>
      </a>
    </div>

    <div class="my-10 my-md-12 build-in-animate col-12">
      <p class="d-block color-fg-subtle f4-mktg">
        Trusted by the world’s leading&nbsp;organizations&nbsp;↘︎
      </p>

      <div
        class="d-flex flex-wrap flex-justify-around flex-md-justify-between flex-items-center col-12 col-lg-11"
      >
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/stripe.svg"
          alt="Stripe logo"
          height="44"
          class="my-3"
        />
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/pinterest.svg"
          alt="Pinterest logo"
          height="44"
          class="my-3"
        />
        <div class="col-12 d-sm-none"></div>
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/kpmg.svg"
          alt="KPMG logo"
          height="44"
          class="my-3"
        />
        <div class="col-12 d-none d-sm-block d-md-none"></div>
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/mercedes.svg"
          alt="Mercedes-Benz logo"
          height="44"
          class="my-3"
        />
        <div class="col-12 d-sm-none"></div>
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/pg.svg"
          alt="P&amp;G logo"
          height="32"
          class="my-3"
        />
        <img
          src="https://github.githubassets.com/images/modules/site/home-campaign/logos/telus.svg"
          alt="Telus logo"
          height="32"
          class="my-3"
        />
      </div>
    </div>
  </div>
</div>
